*{
    margin: 0;
    padding: 0;
}

html, body{
    font-size: 18px;
    height: 100%;
}


.link-galery{
    display: flex;
    flex-wrap: wrap;
}

.link-galery img{
    width: 33%;
    height: 25%;
}

.page{
    height: 100%;
    display: flex;

}

.page img{
    max-height: 50%;
}

.page img, .page .chat{
    width: 50%;
}


.page .chat{
    padding: 5px 10px;
    background-color: slategray;
}
.page .chat .msg{
    display: flex;
    margin-bottom: 20px;
}

.page .chat .msg span{
    padding: 5px;
    background-color: rgb(150, 164, 178);
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0,0,0,.4);
}
.page .chat .msg.left{
    justify-content: start;
}
.page .chat .msg.right{
    justify-content: end;
}
.page .chat .msgs{
    height: calc(100% - 25px);
}
.page .chat .new-msg{
    height: 25px;
}
.page .chat .new-msg input{
    width: 90%;
}